Repository NathanMBR/obot: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run build:lint, npm run test -- --bail --findRelatedTests

.lintstagedrc.json:

{
	"src/commands/*.{ts,js}": [
		"npm run build:lint",
		"npm run test -- --bail --findRelatedTests"
	],
	"test/*.{ts,js}": [
		"npm run build:lint"
	]
}

chore: add entrypoint file
  src/index.ts
Due: none

chore: add ready event handler
  src/events/index.ts
  src/events/ready.ts
Due: none

chore: add event listeners setup
  src/helpers/index.ts
  src/helpers/setupEventListeners.ts
Due: none

chore: add error event handler
  src/events/error.ts
  src/events/index.ts
Due: none

chore: add error handler to event listeners setup
  src/helpers/setupEventListeners.ts
Due: none

chore: add controller injection interface
  src/types/IControllerInjection.ts
  src/types/index.ts
Due: none

chore: add validation error
  src/errors/ValidationError.ts
  src/errors/index.ts
Due: none

test: add clean command validation tests
  test/clearValidator.test.ts
Due: npm run build:lint

chore: edit lint-staged configuration to track all command files
  .lintstagedrc.json
Due: none

chore: add clear command validator
  src/commands/validators/clearValidator.ts
  src/commands/validators/index.ts
Due: none

chore: export validators folder to commands folder
  src/commands/index.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add clear command resource
  src/commands/resources/clearResource.ts
  src/commands/resources/index.ts
Due: none

chore: export resources folder to commands folder
  src/commands/index.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add clear command service
  src/commands/services/clearService.ts
  src/commands/services/index.ts
Due: none

chore: export services folder to commands folder
  src/commands/index.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add clear command controller
  src/commands/controllers/clearController.ts
  src/commands/controllers/index.ts
Due: none

chore: export controllers folder to commands folder
  src/commands/index.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add commands list interface
  src/types/ICommandsList.ts
  src/types/index.ts
Due: none

feat: add clear command
  src/commands/commandsList.ts
  src/commands/index.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add default command service
  src/commands/services/defaultService.ts
  src/commands/services/index.ts
Due: none

chore: add default command controller
  src/commands/controllers/defaultController.ts
  src/commands/controllers/index.ts
Due: none

chore: add unused var rule into eslint configuration file
  .eslintrc.json
Due: none

fix: add asynchronous behaviour to clear command controller and service
  src/commands/controllers/clearController.ts
  src/commands/services/clearService.ts
Due: none

feat: add default command
  src/commands/commandsList.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add message create event handler
  src/events/index.ts
  src/events/messageCreate.ts
Due: none

refactor: change ready event handling strategy
  src/events/ready.ts
  src/helpers/setupEventListeners.ts
Due: none

chore: add get mention string helper
  src/helpers/getMentionString.ts
  src/helpers/index.ts
Due: none

chore: add arguments ignore pattern to eslint no unused vars rule
  .eslintrc.json
Due: none

chore: add ping command service
  src/commands/services/index.ts
  src/commands/services/pingService.ts
Due: none

chore: add ping command controller
  src/commands/controllers/index.ts
  src/commands/controllers/pingController.ts
Due: none

feat: add ping command
  src/commands/commandsList.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: add obode command service
  src/commands/services/index.ts
  src/commands/services/obodeService.ts
Due: none

chore: add obode command controller
  src/commands/controllers/index.ts
  src/commands/controllers/obodeController.ts
Due: none

refactor: remove inexistent command obtention from default command service
  src/commands/controllers/defaultController.ts
  src/commands/services/defaultService.ts
Due: none

refactor: remove data fetching from ping command service
  src/commands/controllers/pingController.ts
  src/commands/services/pingService.ts
Due: none

feat: add OBODE command
  src/commands/commandsList.ts
Due: npm run build:lint, npm run test -- --bail --findRelatedTests

chore: setup event listeners into entrypoint file
  src/index.ts
Due: none

fix: edit messages quantity business rule at clean command controller
  src/commands/controllers/clearController.ts
Due: none

chore: add is-ci package and its type definition
  package.json
  yarn.lock
Due: none

ci: remove husky installation at deploy environment
  package.json
Due: none
